.index {
    display: block;
    padding-top: 8%;
    margin-top: -8%;
    margin-bottom: 0%;
}

.index_box {
    position: fixed;
    background-color: rgb(30, 30, 30);
    width: 20%;
    height:96%;
    right: 0%;
    z-index: 199;
    top: 10%;
    border-left:2px;
    border-left-style: solid;
    border-color: rgb(60, 60, 60);
}

.text_zone>ul
{
    margin-top: 0%;
    padding-bottom: 2.5%;
}
